{% extends "base.html" %}
{% block content %}
<ol class="breadcrumb">
  <li><a href="/">首页</a></li>
  <li><a href="/article/list/{{a.block.id}}">{{a.block}}</a></li>
  <li class='active' >{{a.title}}</li>
</ol>
<br />
<br />
<h3>{{a.title}} <small>作者：{{a.owner}}</small></h3>
<div>
{% autoescape off %}
  <p>{{a.content}}</p>
{% endautoescape %}
</div>
<table class="table table-bordered">
  <thead>
  	<tr>
  	  <th>评论人</th>
  	  <th>评语</th>
  	</tr>
  </thead>
  <tbody>
  	{% for comment in comments %}
  	<tr>
      {% if comment.to_comment %}      
      <td>{{comment.owner}}</td>
      <blockquote>
        <td>
          <b>{{ comment.owner}}:</b>
          <br />
          {{comment.to_comment|linebreaksbr}}
          <a href="#commentContent" data_id="{{ comment.id }}" class="replyBtn btn btn-primary pull-right">回复</a>
          <br />
          {{ comment.content|linebreaksbr }}
        </td>
      </blockquote>
      {% else %}
        <td>
          <b>{{ comment.owner}}</b>  
        </td>
        <td>
          {{ comment.content|linebreaksbr }}
        </td>      
      {% endif %}
  	</tr>
  	{% endfor %}
  </tbody>
</table>
{% include 'paginate.html' %}
<form>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1" >评论人</span>
    <input type="text" class="form-control" name="commentContent" id='commentContent' placeholder="评语" aria-describedby="basic-addon1" value="{{commentContent.value}}">
  </div>
  <br />
  <div>
    <button type="submit" id='commentBtn' class="btn btn-primary">发表评论</button>
  </div>
</form>
<script type='text/javascript' src='/static/js/jquery-1.9.1.min.js' ></script>
<script type='text/javascript' src='/static/js/jquery.csrf.js' ></script>
<script type='text/javascript'>
$(document).ready(function () {
  var article_id = {{a.id}};
  var page_cnt = {{pagination_data.page_cnt}};
  var to_comment_id = 0;
  $(".replyBtn").click(function (e) {
    to_comment_id = parseInt($(e.target).attr("data_id"));
    $('#commentContent').focus();
    return false;
  });

  $('#commentBtn').click(function () {
    var content = $('#commentContent').val();
    var param = {'article_id':article_id,'content':content, 'to_comment_id':to_comment_id};
    $.post("/comment/create/",param,function (data) {
      var ret = JSON.parse(data);
      if (ret['status'=='ok']) {
        $('#commentContent').val('');
        setTimeout(function () {
             window.location.href = '/article/detail/{{article.id}}?page_no='
        },2000)

      }else {
        alert(ret['msg']);
      }
    });
  })
});
</script>
{% endblock %}