{% extends "base.html" %}
{% block content %}
<ol class="breadcrumb">
  <li><a href="/">首页</a></li>
  <li><a href="#">{{b.name}}</a></li>
</ol>
<a href="/article/create/{{b.id}}" class='btn btn-primary'>发表文章</a>
<br />
<br />
<table class="table table-bordered">
  <thead>
  	<tr>
  		<th>标题</th>
  		<th>内容</th>
  		<th>创建时间</th>
  		<th>最后更新时间</th>
  	</tr>
  </thead>
  <tbody>
  	{% for article in contacts.object_list %}
  	<tr>
      <td><a href="/article/detail/{{article.id}}">{{article.title}}</a></td>
      <td>{{article.content}}</td>
      <td>{{article.create_timestamp|date:"Y-m-d P"}}</td>
      <td>{{article.last_update_timestamp|date:"Y-m-d P"}}</td>
  	</tr>
  	{% endfor %}
  </tbody>
</table>
<nav>
{%if contacts.has_other_pages %}
  <ul class="pagination">
    {% if contacts.has_previous %}
    <li>
      <a href="?page_no={{contacts.previous_page_numner}}">&laquo;</a>
    </li>
    {% else %}
    <li>
      <a class="disable">&laquo;</a>
    </li>
    {% endif %}
    {% for page in contacts.paginator.page_range %}
      {% if contacts.number == page %}
        <li class="active">
            <span>{{ page }} <span class="sr-only">(current)</span></span>
        </li>
      {% else %}
        <li><a href="?page_no={{ page }}">{{ page }}</a></li>
      {% endif %}
    {% endfor %}
    {% if contacts.has_next %}
      <li>
        <a href="?page_no={{contacts.next_page_numner}}">&raquo;</a>
      </li>
    {% else %}
      <li class='disable'>
        <a>&raquo;</a>
      </li>
    {% endif %}
  </ul>
{% endif %}
</nav>

{% endblock %}