{% extends "base.html" %}
{% block content %}
<ol class="breadcrumb">
  <li><a href="/">首页</a></li>
  <li><a href="/article/list/{{a.block.id}}">{{a.block}}</a></li>
  <li class='active' >{{a.title}}</li>
</ol>
<br />
<br />
<h3>{{a.title}} <small>作者：{{a.owner}}</small></h3>
<div>
  <p>{{a.content}}</p>
</div>
<table class="table table-bordered">
  <thead>
  	<tr>
  	  <th>评论人</th>
  	  <th>评语</th>
  	</tr>
  </thead>
  <tbody>
  	{% for comment in comments %}
  	<tr>
      <td>{{comment.owner}}</td>
      <td>{{comment.comment|linebreaksbr}}</td>
  	</tr>
  	{% endfor %}
  </tbody>
</table>
{% include 'paginate.html' %}
<form method="POST">{% csrf_token %}
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1" >评论人</span>
    <input type="text" class="form-control" name="comment" id='comment' placeholder="评语" aria-describedby="basic-addon1" value="{{comment.value}}">
  </div>
  <br />
  <div>
    <button type="submit" id='commentBtn' class="btn btn-primary">发表评论</button>
  </div>
</form>
<script type='text/javascript' src='/static/js/jquery-1.9.1.min.js' ></script>
<script type='text/javascript' src='/static/js/jquery.csrf.js' ></script>
<srcipt type='text/javascript'>
$(document).ready(function () {
  var article_id = {{article_id}};
  var page_cnt = {{pagination_data.page_cnt}};

  $('#commentBtn').click(function () {
    var comment = $('#comment').val();
    var param = {'article_id':article_id,'comment':comment};
    $.post("/comment/create/",param,function (data) {
      var ret = JSON.parse(data);
      if (ret['status'=='ok']) {
        $('#comment').val('');
        window.location.href = '/article/detail/{{article.id}}?page_no='
      }else {
        alert(ret['msg'])
      }
  }
})
})
</script>
{% endblock %}