{% extends "base.html" %}
{% block content %}
<div class="col-xs-12 col-md-10">
  {% for b in blocks %}
  <div class="panel panel-default">
      <div class="panel-heading">
        <a style="font-size:16px" href="/article/list/{{b.id}}">{{b.name}}</a>
        <span class="pull-right">{{b.manager}}</span>
      </div>
        <div class="panel-body">
          {{b.desc}}
        </div>
  </div>  
  {% endfor %}
</div>
<div class="col-xs-12 col-md-2">
{% if user.is_authenticated %}
  <p>{{user.username}},欢迎来到论坛</p>
    <a href="/message/list">
      <span class="badge">{{ msg_cnt }}</span>
    </a>
  <a href='/accounts/logout'>登出</a>
{% else %}
  <p>匿名用户,请<a href='/accounts/login'>登入</a></p>
{% endif %}  
</div>

{% endblock %}